/.DS_Store
/.mc-lists.el
/.org-id-locations
/auto-save-list/#!Users!durand!.emacs.d!my_packages!robot!automata-two.el#
/bookmarks
auto-save-lis*
data*
elpa*
eshell*
ltximg*
*.data
/recentf
themes*
url*
/zoom-frm.el
games*